{% extends 'main.html' %}

{% load static %}

{% block title %}
Story 9
{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/style9.css' %}">
{% endblock %}

{% block content %}

<div id="story-9" class="bg-grey title" style="height:100%;">
  <div id="books-api" class="grid-container f-h">
    <h1 class="title font-kayak">Google Books API</h1>
    <input id="searchbar" type="text" name="" value="" placeholder="Search books..." style="display:inline">
    <h3 class="subtitle" style="display:inline;">Favorited:</h3>
    <h3 id="favorited" style="display:inline" class="subtitle">0</h3>
    <table id="favorited-table" class="bg-grey stack">
      <thead>
        <tr>
          <!-- <th class="subtitle bg-grey">ID</th> -->
          <th class="subtitle bg-grey">Cover</th>
          <th class="subtitle bg-grey">Title</th>
          <th class="subtitle bg-grey">Author</th>
          <th class="subtitle bg-grey">Published Date</th>
          <th class="subtitle bg-grey"></th>
        </tr>
      </thead>
      <tbody id="books-list">
      </tbody>
    </table>
  </div>

  {% block extrajs %}
  <script type="text/javascript">
    var yellow_star = "{% static 'img/icon/kuning.png' %}";
    var blue_star = "{% static 'img/icon/biru.png' %}";
    var story_9_url = "{% url 'story-9:index' %}";
    var story_9_url_partial = "{% url 'story-9:index-partial' %}";
    var add_fav_url = "{% url 'story_9:add-to-favorite' %}";
    var rem_fav_url = "{% url 'story_9:remove-from-favorite' %}";
    var get_book_json_url = "{% url 'story_9:get-book-json' %}";
  </script>
  <script type="text/javascript" src="{% static 'js/google-api-ajax.js' %}"></script>
  <script>
    var username = "{{ user.username }}"
  </script>
  {% endblock %}

  {% endblock %}
</div>
