{% extends 'main.html' %}

{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/style8.css' %}">
{% endblock %}

{% block content %}


<div id="profile" class="bg-grey" style="height:100%;">
<!-- <div style="" id="myModal" class="reveal-modal bg-grey" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  <label class="subtitle">Password
  </label>
</div> -->

<div class="reveal bg-grey" id="animatedModal10" data-reveal data-close-on-click="true" data-animation-in="spin-in" data-animation-out="spin-out">
  <h2 id="modalTitle" class="title">Confirm your password for</h2>
  <small id="emailConf" class="lead subtitle"></small>
  <small id="_pk" class="lead subtitle"></small>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <input id="passwordConf" type="password" placeholder="confirm password">
  <button onclick="unsubs()" id="submitButton" class="button alert" type="button" name="button">Submit</button>
</div>

  <div class="grid-container align-center">
    <div class="grid-x align-center align-middle f-h">
      <div class="grid-x">
        <div class="small-12">
          <h1 class="font-kayak title">Subscribe</h1>
        </div>
        <div class="small-12">
          <form action="">
            {% csrf_token %}
          </form>
          <form>
            <div class="grid-container">
              <div class="grid-x grid-padding-x">
                <div class="medium-10 cell">
                  <label class="subtitle">Name
                    <input id="nameInput" type="text" placeholder="Jhon Doel...">
                  </label>
                </div>
                <div id="emailDiv" class="medium-10 cell">
                  <label class="subtitle">Email
                    <input id="emailInput" type="email" placeholder="example@email.com">
                    <small id="#emailMsg"></small>
                  </label>
                </div>
                <div class="medium-10 cell">
                  <label class="subtitle">Password
                    <input id="passwordInput" type="password" placeholder="examplepassword">
                  </label>
                  <button onclick="subs()" id="submitButton" class="button default" type="button" name="button" disabled>Submit</button>
                </div>
              </div>
          </form>
        </div>
        <div class="small-12">
          <h1 class="title">List of Subscriber</h1>
        </div>
        <div class="small-12">
          <div id="list-of-subscribers" class="grid-x align-center align-middle">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% block extrajs %}
	<script src="{% static 'js/script10.js' %}" charset="utf-8"></script>
{% endblock %}

{% endblock %}
