label:not(#theme-toggler) {
    color: black !important;
}

.overlay, li, a:not(.button), p, span, .bg-grey {
    background-color: white !important;
    color: black !important;
}

.title {
    color: turquoise !important;
}
.subtitle {
    color: #FE828C !important;
}
.text {
    color: #161616 !important;
}
.success {
    color: #00FA9A; !important;
}
.error {
    color: #BE1446 !important;
}
.subtext {
    color: #ffc1cc !important;
}
