@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Black.ttf'),
}

@font-face {
  font-family: "Moon Bold";
  src: url('../fonts/Moon Bold.otf'),
}

@font-face {
  font-family: "Kayak Bold";
  src: url("../fonts/Kayak Sans Bold.otf");
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue.otf");
}

body {
  min-height: 100vh;
}

/*.top-bar {
	background-color: #FF7674;
}

.top-bar .menu{
	background-color: #FF7674;
}

.top-bar a {
	color: white;
	font-weight: 1;
}
*/

/*colorguides*/
/* #204F5F */
/* #25B8A8 */
/* #FFE87E */
/* #FEBF72 */
/* #FF7E5C */

/*body {
  height: 100vh;
  background: #204F5F;
}*/
.f-h {
  min-height: 100vh;
}

.f-h-p {
  min-height: 100%;
}

.font-moon {
  font-family: "Moon Bold" !important;
}

.font-kayak {
  font-family: "Kayak Bold" !important;
}

.font-bebas {
  font-family: "BebasNeue" !important;
}

.font-helvetica {
  font-family: "Helvetica";
}

.bg-light-violet {
  background-color: #E7556B;
}

.bg-navy {
  background-color: #12355B;
}

.bg-red {
  background-color: #BE1446 !important;
}

.bg-grey {
  background-color: #161616 !important;
}

.bg-black {
  background-color: black;
}

.subtitle {
  color: #A2D9E0 !important;
}

.blue {
  color: #9AB7D3 !important;
}

.grey {
  color: #161616 !important;
}

.aqua {
  color: #56BFD9;
}

.yellow {
  color: #FEBF72 !important;
}

.green {
  color: #25B8A8;
}

.white {
  color: white;
}

a:hover,
img:hover {
  color: #BE1446;
}

.red {
  color: #BE1446;
}

#landing-page {
  min-height: 100vh;
  /* background-image: url("/static/img/wall/kanagawa.png"); */
  background-size: cover;
}

#resume {}

#social {}

.top-bar,
#navbar {
  box-shadow: 10px 10px 5px red;
}