body {
  height: 100vh;
  background: #2F3C4F;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/Montserrat-Black.ttf')  format("truetype"),
}
.full-page {
  height: 100vh;
}
.home {
  height: 100%;
  background-color: #506F86;
}
h1 {
  font-family: 'montserrat'
}
