.title {
    color: #BE1446 !important;
}
.subtitle {
    color: #56BFD9 !important;
}
.success {
    color: #00FA9A; !important;
}
.error {
    color: #BE1446 !important;
}
.text {
    color: white !important;
}
.subtext {
    color: #E6E6FA !important;
}
