#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #161616;
    z-index: 99;
  }
  
  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(https://loading.io/spinners/spookyghost/index.spooky-ghost-ajax-preloader.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
 }

 /* #preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url(https://loading.io/spinners/spookyghost/index.spooky-ghost-ajax-preloader.svg);
    background-repeat: no-repeat; 
    background-color: #FFF;
    background-position: center;
 } */