{% extends 'main.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}

		<div id="landing-page" class="bg-grey">
			<div class="grid-container">
				<div class="grid-x align-center align-middle f-h">
					<div class="small-12 cell">
						<div class="grid-x align-center">
							<div class="small-12 text-center">
								<img class="imgid" src="{% static 'img/id.png' %}" style="max-width:35%;" alt="">
							</div>
							<div class="small-12 text-center">
								<p class="white lead font-kayak">Hello, my name is Muhammad Fachry Nataprawira, now I'm studying Computer Science, I love reading Novel!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
{% endblock %}
