{% extends 'main.html' %}

{% block title %} Projects {% endblock %}

{% load static %}
{% block content %}

<div id="resume" class="bg-grey">
	<div class="grid-container">
		<div class="grid-x align-center f-h">
			<div class="small-12 cell">
				<div class="grid-x align-middle align-center">
					<div class="cell small-10 text-center">
						<img class="" src="{% static "img/icon/kb.png" %}" alt="My image" style="max-width: 120px">
					</div>
					<div class="cell small-11 text-center medium-10 medium-text-left large-8 large-text-left">
						<h2 class="aqua font-kayak">SMAN 3 Jakarta</h2>
						<p class="font-kayak yellow">Jul 2018 - Aug 2018</p>
						<p class="white font-kayak">
							Working as Back-End Engineer, create new admin and member features, fixing admin and member dashboard bugs,
							using PHP and MySQL.
						</p>
					</div>
                </div>
                <div class="grid-x align-middle align-center">
					<div class="cell small-10 text-center">
						<img class="" src="{% static "img/icon/kb.png" %}" alt="My image" style="max-width: 120px">
					</div>
					<div class="cell small-11 text-center medium-10 medium-text-left large-8 large-text-left">
						<h2 class="aqua font-kayak">HMIK FISIP</h2>
						<p class="font-kayak yellow">Jul 2018 - Aug 2018</p>
						<p class="white font-kayak">
							Working as Back-End Engineer, create new admin and member features, fixing admin and member dashboard bugs,
							using PHP and MySQL.
						</p>
					</div>
                </div>
                <div class="grid-x align-middle align-center">
					<div class="cell small-10 text-center">
						<img class="" src="{% static "img/icon/kb.png" %}" alt="My image" style="max-width: 120px">
					</div>
					<div class="cell small-11 text-center medium-10 medium-text-left large-8 large-text-left">
						<h2 class="aqua font-kayak">Dongkrak Seni</h2>
						<p class="font-kayak yellow">Jul 2018 - Aug 2018</p>
						<p class="white font-kayak">
							Working as Back-End Engineer, create new admin and member features, fixing admin and member dashboard bugs,
							using PHP and MySQL.
						</p>
					</div>
                </div>
                <div class="grid-x align-middle align-center">
					<div class="cell small-10 text-center">
						<img class="" src="{% static "img/icon/kb.png" %}" alt="My image" style="max-width: 120px">
					</div>
					<div class="cell small-11 text-center medium-10 medium-text-left large-8 large-text-left">
						<h2 class="aqua font-kayak">OH Fasilkom 2018</h2>
						<p class="font-kayak yellow">Jul 2018 - Aug 2018</p>
						<p class="white font-kayak">
							Working as Back-End Engineer, create new admin and member features, fixing admin and member dashboard bugs,
							using PHP and MySQL.
						</p>
					</div>
                </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}