{% extends 'main.html' %}

{% block title %} Resume {% endblock %}

{% load static %}
{% block content %}

<div id="resume" class="bg-grey">
	<div class="grid-container">
		<div class="grid-x align-center align-middle f-h">
			<div class="small-12 cell">
				<div class="grid-x align-middle align-center">
					<div class="cell small-11 text-center medium-10 medium-text-left large-2 large-text-left">
						<img class="" src="{% static "img/icon/kb.png" %}" alt="My image" style="max-width: 120px">
					</div>
					<div class="cell small-11 text-center medium-10 medium-text-left large-8 large-text-left">
						<h2 class="title font-kayak">Kapital Boost - <em class="subtitle">Software Engineer</em></h2>
						<p class="font-kayak yellow">Jul 2018 - Aug 2018</p>
						<p class="text font-kayak">
							Working as Back-End Engineer, create new admin and member features, fixing admin and member dashboard bugs,
							using PHP and MySQL.
						</p>
					</div>
				</div>
				<br>
				<div class="grid-x align-middle align-center">
					<div class="cell small-11 text-center medium-10 medium-text-left large-2 large-text-left">
						<img class="" src="{% static "img/icon/mhsw.png" %}" alt="My image" style="max-width: 120px">
					</div>
					<div class="cell small-11 text-center medium-10 medium-text-left large-8 large-text-left">
						<h2 class="title font-kayak">Mahasewa - <em class="subtitle">Web Developer</em></h2>
						<p class="font-kayak yellow">Jul 2018 - Aug 2018</p>
						<p class="text font-kayak">
							Working as Web Developer, creating Mahasewa early stage website, using Laravel and Bootstrap.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}