{% extends 'main.html' %}

{% load static %}

{% block title %}
  Daftar Isi
{% endblock %}

{% block extracss %}

{% endblock %}

{% block content %}

<div id="home" class="bg-grey title" style="height:100%;">
  <div class="grid-container">
    <div class="grid-x align-center align-middle f-h">
      <div class="small-12 cell">
        <div class="grid-x align-middle f-h">
          <div class="small-12">

            {% if user.is_authenticated %}
               <p class="display-4">Hello, {{ user.username }}</p>
               <a class="lead" href="{% url 'account:logout' %}">Log out</a>
          	{% else %}
                <h3 class="title">Login dulu breeeeee</h3>
                <a class="lead" href="{% url 'account:login' %}">Log in</a>
          	{% endif %}

            <h1 class="title"> Daftar Isi</h1>
            <div id="list-of-story">
              <ul>
                <li>
                  <a href="{% url 'lab-1:index' %}">Story-1 (Intro to WebPro)</a>
                  <small class="subtext">Bikin web tapi ga pake framework django</small>
                </li>
                <li>
                  <a href="#">Story-2 (Designing your own website + Intro to HTML5)</a>
                  <small class="subtext">Ini ga ngoding tapi bikin design</small>
                </li>
                <li>
                  <a href="{% url 'lab-3:index' %}">Story-3 (HTML5, CSS, and Responsive Design File) </a>
                  <small class="subtext">Implementasi design story-2 pake css framework (improve story-1)</small>
                </li>
                <li>
                  <a href="{% url 'lab-3:index' %}">Story-4 (Intro to Django Framework File)</a>
                  <small class="subtext">Deploy app terus pake django masih improve story-1</small>
                </li>
                <li>
                  <a href="{% url 'story-6:index' %}">Story-5 (Django Framework (Models) File)</a>
                  <small class="subtext">Ini udah buat models</small>
                </li>
                <li>
                  <a href="{% url 'story-6:index' %}">Story-6 (TDD with Django)</a>
                  <small class="subtext">Improvement dari story-5, nambahin test</small>
                </li>
                <li>
                  <a href="{% url 'story-6:index' %}">Story-7 (Unit & Functional Test URL)</a>
                  <small class="subtext">Improvement dari story-6, nambahin funtional test pake selenium</small>
                </li>
                <li>
                  <a href="{% url 'story-8:index' %}">Story-8 (Java Script & JQuery URL)</a>
                  <small class="subtext">Coba-coba javascript & jquery (bikin accordion dan switch theme)</small>
                </li>
                <li>
                  <a href="{% url 'story-9:index' %}">Story-9 (AJAX Dynamic Data Access URL)</a>
                  <small class="subtext">Coba request menggunakan ajax</small>
                </li>
                <li>
                  <a href="{% url 'story-10:index' %}">Story-10 (Webservice)</a>
                  <small class="subtext">Bikin webservice sederhana(subscribe newsletter)</small>
                </li>
                <li>
                  <a href="{% url 'story-9:index' %}">Story-11 (Oauth, Session, Cookies)</a>
                  <small class="subtext">Lanjutan dr story 9</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
</div>
