{% extends 'main.html' %}

{% block title %} Status {% endblock %}
{% block content %}
<div id="landing-page" class="landing-page bg-grey" style="height:100%;">
    <div class="grid-container">
        <h1 class="white font-kayak">
            Hello apa kabar?
        </h1>
        <form action="" method="POST">{% csrf_token %}  
            <p class="lead blue font-kayak">How was your day?</p>
            <p class="blue">Name:</p> 
            {{ form.name }} 
            <p class="blue">Status:</p> 
            {{ form.status }} 
            <button id="submit_status" type="submit" class="button alert">Send your status</button>
        </form>

        <h1 class="font-kayak aqua"> What they said?? </h1>
        
        <div class="grid-x">
            {% if status %}
                {% for stat in status %}
                    <div class="small-4 cell">
                        {% load tz %}
                        <p class="lead font-kayak aqua"> {{ stat.name }}</p>
                        {% timezone "Asia/Jakarta" %}
                            <p class="font-kayak blue">{{ stat.created_at }}</p>
                        {% endtimezone %}
                        <p class="font-kayak white"> "<i>{{ stat.status }}</i>" </p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}%
