{% extends 'main.html' %}

{% load static %}
{% block content %}
<div id="landing-page" class="landing-page bg-grey" style="height:100%;">
    <div class="grid-container align-center">
        <div class="grid-x align-center align-middle f-h">
            <div class="cell small-12 text-center">
                <h1 class="font-kayak aqua">Profile</h1>
                <img src="{% static 'img/me/komuk1.png' %}" alt="" style="width:200px;">
                <p id="name" class="font-kayak white">{{ name }}</p>
                <p id="npm" class="font-kayak white">{{ npm }}</p>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}%
