{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}{% endblock %}</title>
		<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
		<link rel="stylesheet" href="{% static "css/reset.css" %}">
		<link rel="stylesheet" href="{% static "css/foundation.css" %}">
		<!-- <link rel="stylesheet" href="{% static "css/app.css" %}"> -->
		<link rel="stylesheet" href="{% static "css/style_lab3.css" %}">
	</head>
	<body>


	{% include "partials/_navbar.html" %}
		
    {% block content %}

    {% endblock %}

	<script src="{% static "js/vendor/jquery.js" %}" charset="utf-8"></script>
	<script src="{% static "js/app.js" %}" charset="utf-8"></script>
	<script src="{% static "js/vendor/foundation.js" %}" charset="utf-8"></script>
	<script src="{% static "js/vendor/what-input.js" %}" charset="utf-8"></script>

	{% block extrajs %}
	{% endblock %}

</body>
</html>
